* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: var(--texto-e-rotulo);
}

/* Variaveis das cores e Dimencoes das caixas */
:root {
    --cor-de-fundo: #0033A0;
    --titulo: #FFD700;
    --texto-e-rotulo: #FFFFFF;
    --botoes: #FFD700;
    --texto-botao: #0033A0;
    --inputs: #FFFFFF;
    --borda-input: #CCCCCC;
    --area-resultado: #E63946;
    --texto-resultado: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.conteiner {
    border-radius: 5px;
    height: 450px;
    width: 555px;
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.boxInfo {
    display: flex;
    flex-direction: column;
}

.estriboInfo,
.metroInfo,
.inforPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputBoxInline {
    display: inline-flex;
    gap: 0.5rem;

}

/* Estilizacao */

/* inputs */

#title {
    color: var(--titulo);
}

.inputBoxInline input,
.inputBox input,
.inputBox select,
option {
    background-color: var(--inputs);
    border: solid 2px var(--borda-input);
    border-radius: 7px;
    height: 1.7rem;
    color: black;
    outline: none;
    font-size: 16px;
}

.bnt {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 1.2rem;
}

.bnt button {
    background-color: var(--botoes);
    color: var(--texto-botao);
    font-weight: 600;
    font-size: 20px;
    height: 2.4rem;
    width: 11.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.bnt button> a {
    text-decoration: none;
    color: var(--texto-botao);
}

.bnt button:hover {
    filter: brightness(0.9);
}


.boxInfo {
    background-color: var(--area-resultado);
    margin-top: 1.5rem;
    border-radius: 5px;
    padding: 1rem;
}